.App {
  /* text-align: center; */
  width: 80%;
  margin: auto;
}

.App-header {
  background-color: #FECC02;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Logo {
  height: 80%;
  width: 150px;
}

.Title {text-align: center;}

.Cover {
  height: 300px;
  size: border-box;
  margin:5px;
}

.Cover img {
  height: 100%;
}

.Item { margin-left:5px;}

.Label {
  color: #B7B7B7;
}

.ItemText {
  color: #418ECD;
}

.yellow {
  background-color: #FECC02;
  color: black;
}

.black {
  background-color: black;
  color: white;
}

.grey {
  background-color: grey;
  color: black;
}

.Subtitle {}

.Description {}

.row {
  display: flex;
  flex-direction: row;
}

button {
  border:none;
  border-radius:3px;
  size: border-box;
  margin:5px;
  padding:5px;
}

button:hover{
  cursor:pointer;
  box-shadow: 6px 7px 20px -8px rgba(0,0,0,0.78);
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .App {
    text-align: center;
    width: 90%;
  }
}